
.usehd {
    min-height: 66px;
    background: url(../img/hdbg.png) repeat-x #ffd451;
}

.navbar-default {
    background-image: none;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    position: relative;
    margin-bottom: 0;
    border: none;
    border-radius: 0 !important;
}

.navbar-nav {
    background: #404040;
}

.navbar-brand {
    height: 66px;
    padding: 0;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    margin-right: 0;
    border: 0px solid transparent;
    border-radius: 0;
    padding-top: 15px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 23px;
}

.navbar-default .navbar-nav > li > a {
    color: #e7e7e7;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffd451;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #FFF;
    background-color: transparent;
}

.yellowBand {
    background: #ffd451;
}

.caret {
    margin-left: 15px;
}

.img-responsive_02 {
    max-width: 100%;
    height: auto;
}

.homeBook {
    font-size: 13px;
    color: #3b3b3b;
}

.homeBook input {
    height: 35px;
    width: 100%;
    padding: 5px 8px;
    color: #3b3b3b;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.dateBg {
    background-image: url(../img/icon_date.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.bannerBG {
    /*background:url(../img/dummybanner.jpg) no-repeat;
    background-size:100% 100%;*/
    height: 612px;
}

.footCon_Warp {
    background: #FFF;
    color: #838383;
}

.footPadd01 {
    padding-top: 3%;
    /*padding-bottom:3%;    */
}

.allreserve {
    font-size: 75%;
    text-align: left;
    margin-top: 5px;
}

.footItem {
    width: auto;
    font-size: 89%;
    color: #838383;
    line-height: 20px;
    border-left: 1px #d3d3d3 solid;
    padding: 0 0 0 18px;
    text-align: left;
    border-top: none;
}

.web_Social_F {
    width: 155px;
    height: 55px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    float: right;
}

.tweet_F {
    width: 20px;
    height: 21px;
    overflow: hidden;
    background: url(../img/tweetfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 0;
}

.tweet_F:hover {
    background: url(../img/tweetfoot.png) 0px -21px no-repeat;
    cursor: pointer;
}

.fb_F {
    width: 13px;
    height: 17px;
    overflow: hidden;
    background: url(../img/fbfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 26px;
}

.fb_F:hover {
    background: url(../img/fbfoot.png) 0px -17px no-repeat;
    cursor: pointer;
}

.linkdin_F {
    width: 19px;
    height: 17px;
    overflow: hidden;
    background: url(../img/linkdinfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 31px;
}

.linkdin_F:hover {
    background: url(../img/linkdinfoot.png) 0px -17px no-repeat;
    cursor: pointer;
}

.gplus_F {
    width: 20px;
    height: 18px;
    overflow: hidden;
    background: url(../img/gplusfoot.png) 0px 0px no-repeat;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .30s ease-in-out;
    float: left;
    margin: 14px 0 0 25px;
}

.gplus_F:hover {
    background: url(../img/gplusfoot.png) 0px -18px no-repeat;
    cursor: pointer;
}

.powered_F {
    width: 100%;
    height: 55px;
    overflow: hidden;
    text-align: right;
    margin: 0 auto;
    font-size: 90%;
    color: #838383;
    text-align: right;
}


/*---------------------------------Inner Section Start*/

.innerBg {
    background-color: #f8f3e9;
}

.inner_bannerBG {
    background: url(../img/innerBanner.jpg) no-repeat;
    background-size: 100% 100%;
    height: 343px;
}

.innerLeft {
    padding-right: 3.3% !important;
    color: #3b3936;
}

.innerLeft h1 {
    font-family: 'bebas_neueregular';
    text-transform: uppercase;
    font-size: 350%;
    color: #3b3936;
    margin: 14px 0;
    height: auto;
    letter-spacing: .7px;
}

.innerLeft h2 {
    font-family: 'bebas_neueregular';
    text-transform: uppercase;
    font-size: 200%;
    color: #3b3936;
    margin: 14px 0;
    height: auto;
    letter-spacing: .7px;
}

.innerLeft p {
    margin: 0 0 20px 0;
    text-align: justify
}

.breadcrumb {
    background-color: #ebe6dd;
}

.galbox {
    height: 213px;
    -webkit-box-shadow: 0px 0px 36px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 36px -4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 36px -4px rgba(0, 0, 0, 0.3);
    margin: 0px 0 30px 5px;
    background-color: #FFF;
}

.galleryimage {
    height: 162px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

.gallerytext {
    height: 45px;
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
}

.galImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.divider {
    height: 1px;
    margin: 15px 0 0 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.divider_02 {
    height: 1px;
    margin: 15px 0 15px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.space {
    margin: 0 15px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #32312f;
    border-color: #428bca;
}

.pagination > li > a,
.pagination > li > span {
    color: #32312f;
}

label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
}

.rImg img:hover {
    opacity: .8;
    -moz-transition: .30s ease-in-out;
    -o-transition: .30s ease-in-out;
    -webkit-transition: .20s ease-in-out;
    cursor: pointer
}

.bnrRignt {
    width: 166px;
    height: auto;
    overflow: hidden;
    margin: 0 0 0 0;
}

.banrWhiteBand {
    background: none repeat scroll 0 0 #fff;
    height: 130px;
    margin: 0 auto;
    min-width: 1161px;
    position: absolute;
    top: 513px;
    width: 100%;
    z-index: 5000;
}

.icons_home {
    height: 102px;
    margin: 0 auto;
    min-width: 1161px;
    overflow: hidden;
    padding-top: 28px;
    width: 100%;
}

.icons_inner {
    width: 100%;
    background-color: #FFF;
    height: 102px;
    padding-top: 28px;
}

.icons_inner_top {
    width: 1160px;
    height: auto;
    margin: 0 auto;
}

.icons_inner_top a {
    color: #3b3b3b;
}

.icons_inner_top a:hover {
    color: #ffd451;
}

.icons_inner_top p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #3b3b3b;
    position: absolute;
    margin-top: 52px;
    text-align: center;
}

.separate_line_top {
    background: url(../img/top_line_sep.jpg) center no-repeat;
    width: 30px;
    height: 74px;
    margin: 0 2px 0 19px;
    float: left;
}

.vertpan img {
    margin-top: 0px;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -o-transition: margin .5s ease;
    -ms-transition: margin .5s ease;
    transition: margin .5s ease;
}

.vertpan img:hover {
    margin-top: -40px;
    cursor: pointer;
}

.iconimg {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}

.tariff_div {
    width: 121px;
    height: 74px;
    float: left;
    text-align: center;
}

.reservation_div {
    width: 81px;
    height: 74px;
    float: left;
    text-align: center;
}

.facilities_div {
    width: 62px;
    height: 74px;
    float: left;
    text-align: center;
}

.meeting_div {
    width: 144px;
    height: 74px;
    float: left;
    text-align: center;
}

.dining_div {
    width: 46px;
    height: 74px;
    float: left;
    text-align: center;
}

.gallery_div {
    width: 48px;
    height: 74px;
    margin-left: 5px;
    float: left;
    text-align: center;
}

.reach_div {
    width: 95px;
    height: 74px;
    float: left;
    text-align: center;
}

.attract_div {
    width: 79px;
    height: 74px;
    float: left;
    text-align: center;
}

.offers_div {
    width: 43px;
    height: 74px;
    float: left;
    text-align: center;
}

.inner_banrWhiteBand {
    background: none repeat scroll 0 0 #fff;
    height: 130px;
    margin: 0 auto;
    min-width: 1161px;
    width: 100%;
}

.innerBnrImg {
    margin: 0 auto;
    min-width: 1161px;
    width: 100%;
    text-align: right;
}


/*--------------------
*/

.panel-default > .panel-heading {
    background-image: linear-gradient(to bottom, #ebe6dd 0%, #ebe6dd 100%);
    background-repeat: repeat-x;
}

.panel-body {
    padding: 0;
}

.td1 {
    padding-left: 15px !important;
}

.table {
    margin-bottom: 0
}

.tblHd01 {
    font-family: 'bebas_neueregular';
    text-transform: capitalize;
    font-size: 130%;
    color: #3b3936;
    height: auto;
    letter-spacing: .7px;
}

A.footMore:link {
    COLOR: #838383;
    text-decoration: none;
}

A.footMore:visited {
    COLOR: #838383;
    text-decoration: none;
}

A.footMore:hover {
    COLOR: #FFF;
    text-decoration: none;
    background: #838383;
    padding: 2px 4px;
    border-radius: 3px;
}

A.more1:link {
    COLOR: #3b3936;
    text-decoration: none;
}

A.more1:visited {
    COLOR: #3b3936;
    text-decoration: none;
}

A.more1:hover {
    COLOR: #3b3936;
    text-decoration: underline;
}

.padding_0 {
    padding: 0;
}

.paddingLR_0 {
    padding-left: 0;
    padding-left: 0;
    padding-right: 0
}

.padding_TB_01 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.padding_TB_02 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding_TB_03 {
    padding-top: 20px;
    padding-bottom: 0px;
}

.padding_Top_01 {
    padding-top: 40px;
}

.margin_0 {
    margin: 0
}

.margin_Btm01 {
    margin-bottom: 8px;
}

.margin_Top01 {
    margin-top: 20px;
}

.margin_Top02 {
    margin-top: 31px;
}

.margin_TB_01 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bdr_Top {
    border-top: 1px #d3d3d3 solid;
}
.smaller{
width:124px !important;
}

/*-----------------------*/

@media (max-width: 767px) {
	.smaller{
width:40px !important;
}
    .text-left-not-xs,
    .text-center-not-xs,
    .text-right-not-xs,
    .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
    .serText3 {
        display: block;
        text-align: left;
        margin-left: 7%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm,
    .text-center-not-sm,
    .text-right-not-sm,
    .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
    .paddingLRFormnu {
        padding-right: 23% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md,
    .text-center-not-md,
    .text-right-not-md,
    .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-left-not-lg,
    .text-center-not-lg,
    .text-right-not-lg,
    .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}


/*Page Media Query Start*/

@media(min-width:768) {
    .footItem {
        border: 0;
        text-align: center;
        font-size: 150%;
        line-height: 150%;
        border-top: 1px #d3d3d3 solid;
        padding: 10px 0;
    }
    .web_Social_F {
        float: none;
    }
    .powered_F {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .footItem {
        border: 0;
        text-align: center;
        font-size: 150%;
        line-height: 150%;
        border-top: 1px #d3d3d3 solid;
        padding: 10px 0;
    }
    .web_Social_F {
        float: none;
    }
    .powered_F {
        text-align: center;
    }
    .padding_TB_03 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    label {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 10px !important;
        font-size: 120%
    }
}

@media screen and (max-width: 991px) {
    .footLogo {
        text-align: center;
    }
    .footItem {
        border: 0;
        text-align: center;
        font-size: 150%;
        line-height: 150%;
        border-top: 1px #d3d3d3 solid;
        padding: 10px 0;
    }
    .web_Social_F {
        float: none;
        padding-top: 3%
    }
    .powered_F {
        text-align: center;
    }
    .allreserve {
        padding-bottom: 3%
    }
    .bdr_Top_02 {
        border-top: 1px #d3d3d3 solid;
        margin-bottom:
    }
    .padding_TB_03 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .padding_Top_01 {
        padding-top: 10px !important;
    }
    .bannerBG {
        height: auto !important;
    }
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue-webfont.woff') format('woff'), url('../fonts/bebasneue-webfont.ttf') format('truetype'), url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.white-box-form {
    background-color: #fff;
    padding: 15px 5px 0px 5px;
}

.bottom-form {
    padding-top: 25px;
    border: 1px solid #fff;
}

.checkin-checkout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkin-checkout .input-group {
    margin-bottom: 25px;
    max-width: 200px;
    margin-right: 20px;
    position: relative;
}

.checkin-checkout .input-group img {
    position: absolute;
}

.checkin-checkout .input-group-addon {
    height: 40px;
    background-color: #f3ebda;
    border-color: #f3ebda;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
    padding-right: 0px;
}

.checkin-checkout .form-control {
    height: 40px;
    background-color: #f3ebda;
    border-color: #f3ebda;
    box-shadow: none;
    padding-left: 3px;
    padding-right: 3px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #66635b;
    background-image: url(../img/calendar-icon.png);
    background-position: 80% center;
    background-repeat: no-repeat;
}

.rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rooms .input-group {
    margin-bottom: 13px;
    margin-right: 13px;
}

.rooms .input-group.nos {
  
}

.rooms .input-group.roomplan-w {
    max-width: 420px;
}

.right-arrow {
    display: inline-block;
    position: relative;
    background: orange;
    background-color: #2f2f2f !important;
    color: #FFF !important;
    font-size: 12px !important;
    line-height: 15px;
}
.right-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #2f2f2f;
}
.rooms .input-group-addon {
    height: 33px;

	text-align:left;
    background-color: #f3ebda;
    border-color: #f3ebda;
    box-shadow: none;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #000;
    padding-right: 0px;
}

.rooms .form-control {
    height: 33px;
    background-color: #f3ebda;
    border-color: #f3ebda;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #66635b;
}

.single-double .control-label {
    font-size: 13px;
    text-align: left;
    width: 136px;
    padding-right: 0px;
}

.checkrate {}

.checkrate table {
    margin-bottom: 20px;
}

.checkrate td {
    vertical-align: middle;
}

.checkrate td>span {
    font-size: 18px;
    color: #ff0000;
    padding-left: 10px;
    font-weight: bold;
}

.checkrate td>span>font {
    color: #000;
}

.notes {
    color: #6b6b6b;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.form-subhead {
    color: #000;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.bottom-form .form-horizontal .control-label {
    text-align: left;
    font-size: 13px;
    color: #7c7974;
    max-width: 85px;
}

.desc-form {
    font-size: 15px;
    color: #666666;
    font-family: Arial, sans-serif;
}

.header-book {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 55px;
}

.header-book input {
    margin-top: 0px;
}

.header-book .datebook {
    max-width: 180px;
    margin-right: 15px;

}
.header-book .datebook .form-control {
    background-image: url(../img/calendar-icon.png);
    background-position: 90% center;
    background-repeat: no-repeat;
}
.header-book .nos {
    max-width: 107px;
    margin-right: 15px;
}

.header-book .input-group-addon {
    color: #000;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-color: #fff;
    padding-right: 0px;
    padding-left: 8px;
}

.header-book .form-control {
    color: #6b6b6b;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    padding-left: 5px;
    padding-right: 0px;

}


@media (max-width: 767px) {
    .checkin-checkout .input-group {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .checkin-checkout .form-control {
        background-position: 90% center;
    }
    .rooms .input-group {
        margin-bottom: 13px;
        margin-right: 13px;
    }
    .rooms .input-group.nos {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
	.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 20px;
}
.navbar-nav > li > a {   
    line-height: 15px;
}
    .rooms .input-group.roomplan-w {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .checkrate {
        text-align: center!important;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .notes {
        text-align: center!important;
    }
    .form-subhead {
        text-align: center!important;
    }
    .header-book .datebook {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-book .nos {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    .header-book {
        height: 240px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {

.header-book .datebook {
    max-width: 181px;
    margin-right: 10px;
}
.header-book .nos {
    max-width: 100px;
    margin-right: 10px;
}

}